body {
    font-family: Arial, sans-serif;
    background-color: #1e293b;
    color: white;
    text-align: center;
}

main {
    width: 80%;
    margin: 50px auto;
}

button,
a{
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}